body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #31123d;
}

#bodyblur {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: all 1s ease;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.swal2-progress-custom {
  background-color: gray;
  direction: ltr;
}

.card {
  margin: 30px auto;
  width: 50rem;
  border: none;
}

.card img {
  width: 380px;
  margin: -20px auto;
}

@media screen and (max-width: 550px) {
  .card {
    width: 20rem;
  }

  .card img {
    width: 200px;
  }
}

.swal2-confirm-custom {
  
  color: black;
}